<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/irfan/Documents/Juara Coding Batch 17/jc-appium-aplikasikeuangan/src/test/java/com/juaracoding/catatanKeuanganTest.java"><classes><class name="com.juaracoding.catatanKeuanganTest"><methods><include name="testIncomeFashion"/><include name="testIncomeCar"/><include name="testExpensesFood"/><include name="testExpensesCredit"/><include name="testExpensesTagihan"/><include name="testShowBalance"/></methods></class></classes></test></suite>